.navigation{
    display: flex;
}
.container{
    width: 940px;
    margin: 0 auto;
}

.wrapper-header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.navLink:not(:last-child){
    margin-right: 30px;
}
.linkCart{
    margin: 0 8px 0 10px;
    
}


.wrapper-hero
{
    display: flex;
    flex-direction: column-reverse

}


